## Dictionaries
* Unordered mappings for storing objects.
* Key-value pairing.

**{'key1':'value1'}**

In [2]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [3]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [4]:
my_dict['key1']

'value1'

In [5]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.8}

In [7]:
prices_lookup['apple']

2.99

In [8]:
d = {'k1':123, 'k2':[0,1,23], 'k3':{'insideKey':100}}

In [9]:
d['k2']

[0, 1, 23]

In [10]:
d['k3']

{'insideKey': 100}

In [11]:
d['k3']['insideKey']

100

In [12]:
d['k2'][2]

23

In [13]:
d = {'key1':['a','b','c']}

In [14]:
d['key1']

['a', 'b', 'c']

In [15]:
mylist = d['key1']

In [16]:
mylist

['a', 'b', 'c']

In [17]:
letter = mylist[2]

In [18]:
letter

'c'

In [19]:
letter.upper()

'C'

In [20]:
# one step
d['key1'][2].upper()

'C'

In [21]:
d = {'k1':100, 'k2':200}

In [23]:
d['k3'] = 300 #add new  key-value pair

In [25]:
d['k1'] ='NEW VALUE'

In [26]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [27]:
d.keys() # to see all the keys together in a list

dict_keys(['k1', 'k2', 'k3'])

In [29]:
d.values() # to see all the values in a list

dict_values(['NEW VALUE', 200, 300])

In [32]:
d.items() # to see both keys and values in a list nested in a tupple!!

dict_items([('k1', 'NEW VALUE'), ('k2', 200), ('k3', 300)])

## Tuples

* Similar to lists but they are **immutable**
* Tuples use paranthesis: (1,2,3)

In [33]:
t = (1,2,3)

In [34]:
mylist = [1,2,3]

In [35]:
type(t)

tuple

In [36]:
type(mylist)

list

In [37]:
len(t)

3

In [38]:
t[-1]

3

In [39]:
t = ('a', 'a', 'b')

In [40]:
t.count('a')

2

In [41]:
t

('a', 'a', 'b')

In [42]:
t.index('a')

0

In [44]:
t[0]='NEW' # yo . cannot change

TypeError: 'tuple' object does not support item assignment

## Sets

*Unordered collections of **unique** elements.

In [45]:
myset = set()

In [46]:
myset.add(1)

In [47]:
myset

{1}

In [48]:
myset.add(2)

In [49]:
myset

{1, 2}

In [52]:
myset.add(2) # it brings unique values only

In [53]:
myset

{1, 2}

In [54]:
mylist = [1,1,1,1,2,2,2,3,33,3,3]

In [55]:
set(mylist)

{1, 2, 3, 33}

## Booleans

* Operators convey **True** or **False** statements

In [56]:
True

True

In [57]:
False

False

In [58]:
type(False)

bool

In [59]:
1 > 2

False

In [60]:
1 == 1

True

In [61]:
b = None

In [62]:
type(b)

NoneType

In [63]:
b